@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

:root {
  --background: #0a0e17;
  --foreground: #ededed;
}

@layer utilities {
  .glassmorphism {
    @apply bg-opacity-20 bg-gray-900 backdrop-filter backdrop-blur-lg border border-white/10;
  }
}