@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

:root {
  --background: #0a0e17;
  --foreground: #ededed;
}

@layer utilities {
  .glassmorphism {
    @apply bg-gray-900/20 backdrop-blur-lg border border-white/10;
  }
}

/* Custom Scrollbar for Dark Mode */
.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #171717;
  /* neutral-900 */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #404040;
  /* neutral-700 */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #737373;
  /* neutral-500 */
}

@layer utilities {
  .animate-marquee {
    animation: marquee var(--duration) linear infinite;
  }

  .animate-marquee-vertical {
    animation: marquee-vertical var(--duration) linear infinite;
  }

  @keyframes marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}