@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

:root {
  --background: #0a0e17;
  --foreground: #ededed;
}

@layer utilities {
  .glassmorphism {
    @apply bg-gray-900/20 backdrop-blur-lg border border-white/10;
  }
}